.form-container {
  @apply mt-8 mx-auto max-w-80;
}

.form-alert {
  @apply p-4 mb-4 border-transparent border-solid border-0;
}

.form-alert-error {
  @apply text-coffeenet-primary bg-coffeenet-seconday border-coffeenet-seconday;
}

.form-image-container {
  @apply text-coffeenet-primary;
}

.form-image-container > svg {
  @apply mx-auto max-w-25 fill-current;
}

.form-group > input {
  @apply mb-2;
}

.form-actions-container {
  @apply text-right flex flex-col;
}

.form-label {
  @apply hidden text-coffeenet-lighter mb-1 pr-4 font-light;
}

.form-invalid-feedback {
  @apply text-red-600 text-sm;
}

.form-input {
  @apply py-1 px-2 w-full border border-solid border-coffeenet-grey;
}

.form-input:focus {
  @apply border-blue-500 outline-none shadow-inner;
}

.form-input--invalid {
  @apply border-red-600;
}

.button-submit {
  @apply mt-2 bg-coffeenet-primary text-white px-2 py-1 w-full flex justify-center;
}

.button-cancel {
  @apply text-sm text-orange-900;
}

.button-cancel:hover {
  @apply underline;
}

.password-error {
  animation: coffeenet--login-shake 0.4s ease-in-out;
  animation-delay: 0.25s;
}

@keyframes coffeenet--login-shake {
  0% {
    transform: rotateZ(0);
  }

  20% {
    transform: rotateZ(-10deg);
  }

  40% {
    transform: rotateZ(10deg);
  }

  60% {
    transform: rotateZ(-10deg);
  }

  80% {
    transform: rotateZ(10deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

@screen md {
  .form-container {
    @apply max-w-25;
  }

  .form-input-container {
    @apply w-3/5;
  }

  .form-image-container > svg {
    @apply max-w-20;
  }

  .button-submit {
    @apply w-auto inline-block;
  }
}

@screen xl {
  .form-container {
    @apply max-w-20;
  }

  .form-image-container > svg {
    @apply max-w-10;
  }
}
